# Default ignored files
/../../../4./GameSem4/.idea/shelf/
/../../../4./GameSem4/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../4./GameSem4/.idea/httpRequests/
# Datasource local storage ignored files
/../../../4./GameSem4/.idea/dataSources/
/../../../4./GameSem4/.idea/dataSources.local.xml
